.cdx-marker {
  background: rgba(245, 235, 111, 0.9);
  padding: 3px 0;

  &_view_default {
    background-color: @color-marker_default;
  }

  &_view_danger {
    background-color: @color-marker_danger;
    color: @color-main;
  }

  &_view_success {
    background-color: @color-marker_success;
    color: @color-main;
  }
}
